@media (min-width: 1200px) {
	.top {
		&__icon {
			font-size: 10rem;
		}
	}

	.search {
		&__button {
			font-size: 2.8rem;
		}
		&__input {
			height: 120px;
			font-size: 2.7rem;
		}
	}

	.find {
		&__itemWrapper {
			width: 500px;
			height: 600px;
		}
	}

	.footer {
		&__item {
			font-size: 2rem;
			padding: 1.5rem;
		}
	}
}
