<footer class="footer">

  <div class="footer__item">
    <p class="footer__name">Ikony: </p><a href="https://fontawesome.com/" class="footer__link"
      target="_blank">fontawesome</a>&nbsp;&&nbsp;<a href="https://phosphoricons.com/" class="footer__link"
      target="_blank">Phosphoricons</a>

  </div>

  <div class="footer__item">
    <p class="footer__name">Czcionka: </p><a href="https://fonts.google.com/" class="footer__link"
      target="_blank">Google Fonts</a>
  </div>


  <div class="footer__item">
    <p class="footer__name">Zdjęcia: </p><a href="https://unsplash.com/" target="_blank"
      class="footer__link">unsplash</a>

  </div>

  <div class="footer__item">
    <p class="footer__name">Projekt: </p><a href="https://github.com/BuszujacyWPszenzycie" target="_blank"
      class="footer__link">BuszującyWPszenżycie</a>
  </div>


</footer>

<script href="./js/script.js"></script>
</body>

</html>